
<div class="mb-5">
  <form [formGroup]="filterForm" class="flex items-start gap-4 mt-5">
    <mat-form-field appearance="fill">
      <mat-label>Search by Name</mat-label>
      <input
        matInput
        matInput
        formControlName="name"
        placeholder="Rick"
        #input
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Filter by Status</mat-label>
      <mat-select formControlName="type" panelClass="">
        @for (item of estadosFilter(); track item.value) {
          <mat-option [value]="item.value">{{item.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</div>


