
<div class="flex items-center gap-2">
  <mat-form-field appearance="fill">
    <mat-label>Filter by name</mat-label>
    <input matInput (keyup)="applyFilterByName($event)" placeholder="Rick" #input>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select Filter</mat-label>
    <mat-select>
      @for (estado of estados(); track estado.value) {
        <mat-option [value]="estado.value">
          <div (click)="applyFilterByStatus(estado.value)"> {{estado.viewValue}} </div>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  {{ statusTerm()}}
</div>
