
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  @include mat.select-overrides((
    panel-background-color: rgb(241, 239, 239),
    enabled-trigger-text-color: rgb(8, 10, 165),
    disabled-trigger-text-color: rgb(170, 170, 170),
    focused-arrow-color: rgb(0, 26, 255),
  ));

  @include mat.tabs-overrides((
    active-indicator-color: rgb(0, 26, 255),
    divider-color: rgb(179, 188, 219),
    active-focus-label-text-color: rgb(25, 44, 218),
  ));

  @include mat.form-field-overrides((
    filled-container-color: rgb(255, 255, 255),
    filled-caret-color: rgb(31, 30, 28),
    filled-focus-active-indicator-color: rgb(38, 0, 255)
  ));

  @include mat.table-overrides((
    background-color: rgb(252, 249, 245),
    header-headline-color: rgb(24, 23, 23),
  ));


}
